name: github-monthly-report
on:
  workflow_dispatch:
    inputs:
      monthstart:    
        required: true
        default: '2024-xx-01'
      monthend:    
        required: true
        default: '2024-xx-31'

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  ORG: 'chromiecraft'
  REPO: 'chromiecraft'
  API_URL_PREFIX: 'https://api.github.com'
  MONTH_START: "2024-09-01"
  MONTH_END: "2024-09-30"

jobs:
  github-monthly-report:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: "Pull data from Github"
        shell: bash
        run: |
          ./apps/github-issues.sh
        
      - name: "Send file output.txt to discord channel"
        uses: sinshutu/upload-to-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_MONTHLY_REPORT }}
        with:
          args: output.txt issues.json
